*~
auto-save-list
ac-comphist.dat
/tramp
/.pyflymakercc
/savehist
/.venv
*.elc
session.*
*#

projectile.cache
projectile-bookmarks.eld
undohist/
.emacs.desktop.lock
url/
bookmarks
var/
eshell/
smex-items
places
.emacs.desktop
erc
emacsenv
.emacs-desktop
recentf

company-statistics-cache.el

magithub
docsets
circe
/semanticdb
elpa
/.last-package-update-day
