[submodule "vendor/elpastebin"]
	path = vendor/elpastebin
	url = https://github.com/nicferrier/elpastebin.git
[submodule "vendor/zenburn-emacs"]
	path = vendor/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs
[submodule "vendor/python.el"]
	path = vendor/python.el
	url = https://github.com/fgallina/python.el
[submodule "vendor/multi-web-mode"]
	path = vendor/multi-web-mode
	url = https://github.com/fgallina/multi-web-mode
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "vendor/highlight-indentation"]
	path = vendor/highlight-indentation
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "vendor/autopair"]
	path = vendor/autopair
	url = https://github.com/emacsmirror/autopair.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "vendor/Pymacs"]
	path = vendor/Pymacs
	url = https://github.com/pinard/Pymacs
[submodule "vendor/flymake-python"]
	path = vendor/flymake-python
	url = https://github.com/akaihola/flymake-python
[submodule "vendor/flymake-cursor"]
	path = vendor/flymake-cursor
	url = https://github.com/illusori/emacs-flymake-cursor.git
[submodule "vendor/rainbow-delimiters"]
	path = vendor/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters
[submodule "vendor/anything-config"]
	path = vendor/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "vendor/twittering-mode"]
	path = vendor/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "vendor/rainbow-mode"]
	path = vendor/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
[submodule "vendor/deft"]
	path = vendor/deft
	url = git://jblevins.org/git/deft.git
[submodule "vendor/full-ack"]
	path = vendor/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "vendor/cl-lib"]
	path = vendor/cl-lib
	url = https://github.com/emacsmirror/cl-lib.git
