*~
auto-save-list
ac-comphist.dat
/tramp
/.pyflymakercc
/savehist
/.venv
*.elc
session.*
*#

projectile.cache
projectile-bookmarks.eld
undohist/
.emacs.desktop.lock
url/
bookmarks
var/
eshell/
smex-items
