((python-mode
  . (
     ;; This is used to fill the paragraph in 120 columns when pressing M-q
     ;; because in the Mozio project we use 120 columns
     (fill-column . 120)

     ;; Use 4 spaces to indent in Python
     (python-indent-offset . 4)
     ;; autopep8 global configurations (path must be absolute)
     (py-autopep8-options . ("--global-config=/home/humitos/mozio/autopep8rc"))
     ;; FlyCheck global configurations
     (flycheck-flake8rc . "/home/humitos/mozio/flake8rc")

     ;; docformatter global options
     (py-docformatter-options . ("--wrap-summaries=120" "--wrap-descriptions=120" "--pre-summary-newline" "--no-blank" "--make-summary-multi-line"))

     ;; autoflake global options
     (py-autoflake-options . ("--remove-all-unused-imports" "--remove-unused-variables"))

     ;; yapf --in-place --style .style.yapf --exclude "*migrations*" --exclude "*settings*" --exclude "*scripts*" --parallel --recursive .
     (py-yapf-options . ("--style=/home/humitos/mozio/.style.yapf" "--exclude=*migrations*" "--exclude=*settings*" "--exclude=*scripts*" "--parallel"))

     ;; use our own virtualenv for this project
     (pyvenv-workon . "mozio-ondemand")

     ;; run proper test when hitting C-c C-t
     (elpy-test-runner . elpy-test-django-runner)
     ;; path must be absolute
     (elpy-test-django-runner-command . ("/home/humitos/mozio/ondemand/manage.py" "test" "--noinput" "--keepdb" "--failfast"))

     ;; when the project is inside a Docker container, I'm running it like this
     ;; (elpy-test-django-runner-command . ("docker" "exec" "-it" "ondemand_shell_run_1" "python" "manage.py" "test"))
     )

     ;; remove some hooks that are not needed in this project (e.g. Read The Docs)
     (py-autoflake-enabled . nil)
     (py-autopep8-enabled . nil)
     (py-docformatter-enabled . nil)
     (py-isort-enabled . nil)
     (py-unify-enabled . nil)
     (py-yapf-enabled . nil)
  ))
