APScheduler
astroid
autopep8
colorama
decorator
Django
elpy
epc
flake8
importmagic
ipdb
ipython
ipython-genutils
jedi
lazy-object-proxy
mccabe
path.py
pep8
pexpect
pickleshare
ptyprocess
pyflakes
pylint
python-dateutil
pytz
PyYAML
rope
sexpdata
simplegeneric
six
traitlets
twitter
tzlocal
wrapt
yapf
