# ;; -*- mode: pip-requirements -*-

# autoflake
# Use this version which implement --keep-useless-pass
# https://github.com/myint/autoflake/pull/9
-e git+https://github.com/jobevers/autoflake#egg=autoflake

# -e git+https://github.com/myint/autoflake#egg=autoflake

autopep8
docformatter
# it comes included in the elpy.el source code
# elpy
epc

# Use the master branch as a temporal fix of this issue
# https://gitlab.com/pycqa/flake8/issues/246
# -e git+https://gitlab.com/pycqa/flake8.git#egg=flake8
flake8

flake8-blind-except

# Suspicious state from syntax checker python-flake8: Flycheck checker python-flake8 returned non-zero exit code 1, but its output contained no errors: Traceback (most recent call last):
#   File "/home/humitos/.virtualenvs/emacs-default/bin/flake8", line 11, in <module>
#     sys.exit(main())
#   File "/home/humitos/.virtualenvs/emacs-default/lib/python3.5/site-packages/flake8/main/cli.py", line 16, in main
#     app.run(argv)
#   File "/home/humitos/.virtualenvs/emacs-default/lib/python3.5/site-packages/flake8/main/application.py", line 328, in run
#     self._run(argv)
#   File "/home/humitos/.virtualenvs/emacs-default/lib/python3.5/site-packages/flake8/main/application.py", line 316, in _run
#     self.run_checks()
#   File "/home/humitos/.virtualenvs/emacs-default/lib/python3.5/site-packages/flake8/main/application.py", line 246, in run_checks
#     self.file_checker_manager.run()
#   File "/home/humitos/.virtualenvs/emacs-default/lib/python3.5/site-packages/flake8/checker.py", line 319, in run
#     self.run_serial()
#   File "/home/humitos/.virtualenvs/emacs-default/lib/python3.5/site-packages/flake8/checker.py", line 303, in run_serial
#     checker.run_checks()
#   File "/home/humitos/.virtualenvs/emacs-default/lib/python3.5/site-packages/flake8/checker.py", line 573, in run_checks
#     self.run_ast_checks()
#   File "/home/humitos/.virtualenvs/emacs-default/lib/python3.5/site-packages/flake8/checker.py", line 487, in run_ast_checks
#     for (line_number, offset, text, check) in runner:
#   File "/home/humitos/.virtualenvs/emacs-default/lib/python3.5/site-packages/flake8_builtins.py", line 52, in run
#     tree = ast.parse(lines)
#   File "/usr/lib/python3.5/ast.py", line 35, in parse
#     return compile(source, filename, mode, PyCF_ONLY_AST)
# TypeError: compile() arg 1 must be a string, bytes or AST object
# flake8-builtins

flake8-coding
# it's producing an error because python-flakes8 version
# flake8-commas
flake8-comprehensions
flake8-debugger
flake8-deprecated
flake8-docstrings

# it's causing problems
# flake8-exact-pin

flake8-meiqia
flake8-mutable
flake8-pep3101
flake8-print
flake8-quotes
flake8-string-format
flake8-tidy-imports
flake8-todo
importmagic
ipdb
ipython
isort
# jedi
-e git+https://github.com/davidhalter/jedi.git#egg=jedi
path.py
pep8
pep8-naming
pip
pycodestyle
pylint
rope
unify

# yapf
# -e git+https://github.com/google/yapf.git#egg=yapf
# master version of yapf is buggy, it doesn't respect my SPLIT_AT_FIRST_ARGUMENTS or something like that setting:
#-    def _update_reservation_payment(self, reservation, card_token_id, stored_card_id, save_card, coupon_code,
#-                                    stripe_origin):
#+    def _update_reservation_payment(
#+            self, reservation, card_token_id, stored_card_id, save_card, coupon_code, stripe_origin):

# better stable version
# yapf==0.16.1

# https://github.com/google/yapf/issues/378
# https://github.com/google/yapf/commit/848efddd27a8547ecce0876eeed12c197a3d4234
# I created a personal branch for this that it's fork from `master`
# and it has merged `no-split-before-dict-value`
# pip install git+ssh://git@github.com/humitos/yapf.git@master+no-split-before-dict-value#egg=yapf
# NO_SPLIT_BEFORE_DICT_VALUE=True
-e git+https://github.com/humitos/yapf.git@master+no-split-before-dict-value#egg=yapf

futures  # enable multiprocessing in py2

# pkg_resources.DistributionNotFound: The 'pyflakes!=1.2.0,!=1.2.1,!=1.2.2,<1.4.0,>=0.8.1'
# distribution was not found and is required by flake8
# pyflakes==1.3.0
pyflakes

# pyment
-e git+https://github.com/dadadel/pyment.git#egg=pyment

# sphinx-doc.el
sphinx
